h1 {
  font-weight: bold;
  color: #ea6962;
}

h2 {
  font-weight: bold;
  color: #e78a4e;
}

h3 {
  font-weight: bold;
  color: #d8a657;
}

h4 {
  font-weight: bold;
  color: #a9b665;
}

h5 {
  font-weight: bold;
  color: #7daea3;
}

a {
  color: #d8a657;
  text-decoration: none;
  transition: text-decoration 0.2s ease-in-out;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #7daea3;
}

blockquote {
  color: #928374;
  background: #1d2021;
}

body {
  background-color: #282828;
  color: #d4be98;
  font-family: "Roboto Mono", monospace;
  width: 60rem;
  margin: auto;
}

