<html lang="es-AR">
  <head>
    <!--Meta data de render-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Título de la página-->
    <title>{{titulo}}</title>

    <!--SEO-->
    <meta name="description" content="{{descripcion}}">
    <meta name="keywords" content="{{tags}}">
    <meta name="author" content="CoffeeBreak">
    <meta name="robots" content="index, follow">

    <!--Favicon-->
    <link
      rel="icon"
      type="image/svg+xml"
      href="{{base_url}}/assets/favicon.svg"
    >

    <!--Tarjetas para redes sociales-->
    <meta property="og:title" content="{{titulo}}">
    <meta property="og:description" content="{{descripcion}}">
    <meta property="og:image" content="{{base_url}}{{image}}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:url" content="{{base_url}}{{path}}">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{titulo}}">
    <meta name="twitter:description" content="{{descripcion}}">
    <meta name="twitter:image" content="{{base_url}}{{image}}">

    <!--Estilos-->
    <link
      rel="stylesheet"
      href="{{base_url}}/assets/styles.css"
    >

    <!--Fuentes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    >

    <!--Highlig.js-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/base16/gruvbox-dark-hard.min.css"
    >
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"
    ></script>
    <script>
      hljs.highlightAll();
    </script>
  </head>
  <body>
    <div class="header">
      <div class="header-left">
        <a href="/" class="page-title">CoffeeBreak</a>
      </div>
      <div class="header-center">
        <a href="{{base_url}}{{parent_url}}" class="page-title">{{parent}}</a>
      </div>
      <div class="header-right"></div>
    </div>
    <div class="content">
      {{{content}}}
    </div>
    <div class="footer">
      {{#if anterior}}
      <a href="{{anterior}}" class="footer-left">Anterior</a>
      {{/if}} {{#if siguiente}}
      <a href="{{siguiente}}" class="footer-right">Siguiente</a>
      {{/if}}
    </div>
  </body>
</html>
